# Dependencies
node_modules/

# Build outputs
dist/
build/
.cache/

# Environment files

.env

.env.local

.env.*.local

apps/storefront/.env.test

.dev.vars

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Vite
vite.config.ts.timestamp-*

# testing
apps/e2e/playwright-report/data/*
apps/e2e/test-results/*
apps/e2e/tests/*
apps/e2e/test-results/*

# Medusa
.medusa/

# Reports
*-report.json
trivy_report.txt