# Railway Deployment Configuration
# https://docs.railway.app/reference/config-as-code

[build]
builder = "dockerfile"
dockerfilePath = "apps/backend/Dockerfile"
watchPatterns = ["apps/backend/**"]

[deploy]
# startCommand = "echo 'Current NODE_ENV: $NODE_ENV' && echo 'Listing .medusa directory:' && ls -R .medusa && npx medusa db:migrate && npm run start"
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
